# <span style="color:#336699">Coleta dos dados</span>
<hr style="border:2px solid #0077b9;">

<br/>

<div style="text-align: center;font-size: 90%;">
    Autor: Flávio Belizário da Silva Mota
    <br/><br/>
    Instituto Nacional de Pesquisas Espaciais (INPE)
    <br/>
    Avenida dos Astronautas, 1758, Jardim da Granja, São José dos Campos, SP 12227-010, Brazil
    <br/><br/>
    Contato: <a href="mailto:flavio.belizario.mota@gmail.com">flavio.belizario.mota@gmail.com</a>
    <br/>
    Professor: Rafael Santos
</div>

<br/>

<div style="text-align: justify;  margin-left: 25%; margin-right: 25%;">
<b>Objetivo.</b> Esse caderno Jupyter tem como objetivo apresentar a etapa de coleta dos dados para o projeto da disciplina CAP394 - Introdução à Ciência de Dados. Os dados são provenientes do projeto CRISIS NLP e foram coletados utilizando publicações do Twitter referentes à pandemia de COVID-19. O conjunto contém informações geolocalizadas a respeito da origem da publicação e  se no corpo da publicação existem referências a outros locais, também são apresentadas as informações sobre esses locais. Esses dados são disponibilizados em formato json e podem ser baixados em arquivos que representam as publicações diárias. Nessa etapa de coleta, foram consideradas publicações feitas no Brasil.
</div>

<br/>
<div style="text-align: center;font-size: 90%;">
    <b>Os dados podem ser encontrados em:</b>
    <div style="margin-left: 10px; margin-right: 10px">
    https://crisisnlp.qcri.org/covid19
    </div>
</div>

## O conjunto de dados
<hr style="border:2px solid #0077b9;">

<div>O conjunto de dados, chamado de GeoCoV19, foi elaborado através da coleta de dados do Twitter e contém mais de 524 milhões de <i>tweets</i> multilíngues coletados até 1º de maio de 2020. O conjunto contém cerca de 378 mil tweets com <i>geotags</i> e 5,4 milhões de <i>tweets</i> com informações sobre o local. Foram extraídos topônimos a partir do campo de localização do usuário e do conteúdo do <i>tweet</i> e essa informação foi transformada para geolocalizações, como país, estado ou cidade. Utilizando essa abordagem, 297 milhões de <i>tweets</i> foram associados a geolocalização usando o campo de localização do usuário e 452 milhões de <i>tweets</i> usando o conteúdo do <i>tweet</i>.</div>

<div>Os dados com informações geolocalizadas estão disponíveis para <i>download</i> em <a>https://crisisnlp.qcri.org/covid19</a> no formato JSON. Cada arquivo JSON contém os <i>tweets</i> de um dia.</div>

## Importando as bibliotecas
<hr style="border:2px solid #0077b9;">

In [1]:
import json

In [13]:
filtered_json = []
with open('geo_2020-02-01.json', 'r') as f:
    for line in f:
        j = json.loads(line)
        if j['geo_source'] == 'coordinates' or j['geo_source'] == 'place' or j['geo_source'] == 'user_location':
            if len(j['user_location']) != 0 and j['user_location']['country_code'] == 'br':
                filtered_json.append(j)
    f.close()

IndentationError: unexpected indent (1870956818.py, line 3)

In [12]:
import pandas as pd
df = pd.read_json('new_data.json')
df

,tweet_id,created_at,user_id,geo_source,user_location,geo,place,tweet_locations
0,1223491305935900672,2020-02-01 06:20:33+00:00,1144368554478882816,user_location,{'country_code': 'br'},{},{},"[{'country_code': 'cn', 'state': 'Hubei', 'cou..."
1,1223496266476408832,2020-02-01 06:40:16+00:00,1034034071737958400,user_location,{'country_code': 'br'},{},{},"[{'country_code': 'it', 'state': 'Trentino-Alt..."
2,1223541962420248576,2020-02-01 09:41:50+00:00,952926584,user_location,"{'country_code': 'br', 'state': 'Tocantins', '...",{},{},[{'country_code': 'gy'}]
3,1223562271307239424,2020-02-01 11:02:32+00:00,170807131,user_location,{'country_code': 'br'},{},{},"[{'country_code': 'cn'}, {'country_code': 'cn'..."
4,1223730772617650176,2020-02-01 22:12:06+00:00,235685971,user_location,{'country_code': 'br'},{},{},"[{'country_code': 'cn', 'state': 'Hubei', 'cou..."
...,...,...,...,...,...,...,...,...
2273,1223727674981601280,2020-02-01 21:59:48+00:00,69921205,user_location,{'country_code': 'br'},{},{},"[{'country_code': 'ru'}, {'country_code': 'by'..."
2274,1223702538240843776,2020-02-01 20:19:55+00:00,31451388,user_location,{'country_code': 'br'},{},{},"[{'country_code': 'fr', 'state': 'Bourgogne-Fr..."
2275,1223562896497618944,2020-02-01 11:05:01+00:00,170807131,user_location,{'country_code': 'br'},{},{},"[{'country_code': 'cn'}, {'country_code': 'nl'..."
2276,1223548571246612480,2020-02-01 10:08:06+00:00,208555951,user_location,"{'country_code': 'br', 'state': 'São Paulo', '...",{},{},"[{'country_code': 'it', 'state': 'Trentino-Alt..."
2277,1223551575190360064,2020-02-01 10:20:02+00:00,51958309,user_location,{'country_code': 'br'},{},{},"[{'country_code': 'in'}, {'country_code': 'ir'..."